.vise .vise-frame {
	position: absolute;
	top: -100px;
	left: -100px;
	right: -100px;
	bottom: -100px;
	width: auto;
	height: auto;
	z-index: 50;
	/*background-color: transparent;*/
	background-color: red;
	background-repeat: no-repeat;
	background-position: center center;
}