.vise .vise-frame {
	position: absolute;
	top:    -1000px;
	left:   -1000px;
	right:  -1000px;
	bottom: -1000px;
	width: auto;
	height: auto;
	z-index: 50;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
}